<div class="grid min-h-screen place-items-center mt-6">
  <div class="w-11/12 p-12 form_wrapper sm:w-8/12 md:w-1/2 lg:w-5/12 shadow-xl mb-12 rounded-lg">
  <h1 class="text-4xl	 font-bold text-center"> <span class="jumbo-header text-6xl">Meow 😸</span> <br><span class="font-normal text-lg	">Resend confirmation instructions</span></h1> 


<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field mt-10">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner rounded-xl	" %>
        <%= f.label :email, class:"block text-xs font-semibold text-gray-600 uppercase mt-1 ml-2"  %><br />
      </div>

   <div class="actions">
        <%= f.submit "Sign up", class:"bg-yellow-500 hover:bg-yellow-400 py-4 px-6 block whitespace-no-wrap rounded-xl" %>
      </div>
<% end %>
<div class="mt-6 text-sm ml-1">
     <%= render "users/shared/links"%>
   </div>
 </div>
</div>

  </div>
</div>
