<!-- cart view -->
<div class="container mx-auto mt-10">
  <div class="flex shadow-md my-10">
    <div class="w-3/4 px-10 py-10 yellow-background">
      <div class="flex justify-between border-b border-yellow-500 pb-8">
        <h1 class="font-semibold text-2xl">Shopping Cart</h1>
        <h2 class="font-semibold text-2xl">Meow 😸</h2>
      </div>
      <div class="cart-labels flex mt-10 mb-5">
        <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5">Quantity</h3>
        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5">Price</h3>
        <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5">Total</h3>
      </div>
      <!-- LINE ITEMS LOOP -->
      <% @cart.line_items.order('id desc').each do |line_item| %>
      <div class="hover-items flex items-center -mx-8 px-6 py-5">
        <div class="flex w-2/5">
          <!-- product -->
          <div class="w-20">
            <img class="h-24" src="<%= line_item.product.img_url %>" alt="">
          </div>
          <div class="flex flex-col justify-between ml-4 flex-grow">
            <span class="font-bold text-sm"><%= line_item.product.title %></span>
            <span class="text-red-500 text-sm">Photo</span>
            <%= link_to "Remove", line_item_path(line_item), method: :delete, class:"font-semibold hover:text-red-500 text-gray-500 text-xs" %>
          </div>
        </div>

        <div class="flex justify-center w-1/5 align-middle">
          <%= link_to line_item_reduce_path(line_item), method: :post do %>
          <svg class="fill-current text-gray-600 w-3 mt-2" viewBox="0 0 448 512">
            <path
              d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
          </svg>
          <% end %>
          <span class="font-semibold text-black mx-3 mt-1"><%= line_item.quantity %></span>
          <%= link_to line_item_add_path(line_item), method: :post do %>
          <svg class="fill-current text-gray-600 w-3 mt-2" viewBox="0 0 448 512">
            <path
              d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
          </svg>
          <% end %>
        </div>
        <span class="text-center w-1/5 font-semibold text-sm"><%= number_to_currency(line_item.product.price, unit: '€', format: "%n%u") %></span>
        <span class="text-center w-1/5 font-semibold text-sm"><%= number_to_currency(line_item.total_price, unit: '€', format: "%n%u") %></span>
      </div>
      <% end %>

      <%= link_to root_path, class:"flex font-semibold text-yellow-600 text-sm mt-10" do %>
      <svg class="fill-current mr-2 text-yellow-600 w-4" viewBox="0 0 448 512">
        <path
          d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
        </svg>
      <span>Continue Shopping </span>
      <% end %>
    </div>
    <div id="summary" class="w-1/4 px-8 py-10 bg-yellow-200">
      <h1 class="font-semibold text-2xl border-b border-yellow-500 pb-8">Order Summary</h1>
      <% @cart.line_items.each do |line_item| %>
        <div class="flex justify-between mt-10 mb-5 ">
          <span class="font-semibold text-sm uppercase"><%= line_item.quantity %> X <%= line_item.product.title %> </span>
          <span class="font-semibold text-sm"><%= number_to_currency(line_item.total_price, unit: '€', format: "%n%u") %></span>
        </div>
      <% end %>
      <div class="border-t border-yellow-400 mt-8">
        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
          <span>Total cost</span>
          <span><%= number_to_currency(@cart.sub_total, unit: '€', format: "%n%u") %></span>
        </div>
        <button
          class="bg-yellow-500 hover:bg-yellow-600 font-semibold py-3 text-sm text-black uppercase w-full focus:outline-none">Checkout</button>
      </div>
    </div>
  </div>
</div>