<div class="md:w-1/2 xl:w-1/3 py-4 md:px-8 sm:-mt-24  md:mt-0">

  <%= link_to product_path (product.id)  do %>
  <div class="image_size_helper rounded shadow-md	">
    <%= image_tag(product.img_url)  %>
  </div>
  <% end %>
  <div
    class="flex w-full flex-col  px-8 py-4  border text-gray-900 rounded-b-md bg-triangles border-none shadow-lg mb-10 relative">
    <div class="flex w-full justify-around items-center pb-4">
      
    </div>
    <!-- SECTION: Article Preview -->

    <div class="flex  justify-items-starts justify-between py-2 px-3 -m-4">
    <div class="div">
      <span class="text-xs font-semibold inline-block py-1 px-2 rounded text-yellow-600 bg-yellow-200 uppercase last:mr-0 absolute left-0 -mt-11">
      <%= product.categories[0].name %>
      </span>
      </div>
       <%= link_to product_path (product.id)  do %>
      <h1 class="text-gray-800 font-semibold text-xl"><%= product.title %><span class="ml-6"><%= product.price%>€</span></h1>
      <% end %>
      <%= button_to line_items_path(product_id: product.id), class: 'bg-yellow-500 text-xs text-white px-2 py-1 font-semibold tracking-widest rounded uppercase hover:bg-yellow-400 absolute right-0 shadow-sm' do %>
      <%= image_pack_tag 'cart1.png', size:"30x30" %>
      <% end %>
    </div>
  </div>
</div>
