<div class="md:w-1/2 xl:w-1/3 py-4 md:px-8 sm:-mt-24  md:mt-0 	">
              <img
              class="rounded-t-md h-48 w-full object-cover shadow-lg"
              src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1327&q=80 "
               alt=""
              />
                <div
               class="flex w-full flex-col justify-center px-8 py-4 items-center border text-gray-900 rounded-b-md bg-yellow-100 border-none shadow-lg"
                >
                  <div class="flex w-full justify-around items-center pb-4">
                      <div class="flex flex-col w-full md:w-3/4 ">
                        <!-- SECTION: Title -->
                        <h1
              class="text-xl font-bold text-yellow-500 text-center "
              >
                          <%= product.title %>
                        </h1>
                        <!-- !END SECTION: Title -->
                        <div class="flex w-full text-xs justify-center">

                          <!-- SECTION: stars -->
                          
                          <div>
                            <i class="fas fa-star mb-3 mt-3"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                          <!-- !SECTION: content -->
                          
                        </div>
                        <div>
                        <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                      </div>
                    </div>
                    <!-- SECTION: Article Preview -->
                        <div class="flex items-center justify-between py-2 px-3 ">
                          <h1 class="text-gray-800 ml-2  font-bold"><%= product.price%>€</h1>
                            <%= button_to line_items_path(product_id: product.id), class: 'bg-yellow-500 text-xs text-white px-2 py-1 font-semibold tracking-widest rounded uppercase hover:bg-yellow-400 ml-5' do %>
                          <%= image_pack_tag 'cart1.png', size:"18x18" %>
                          <% end %>
                          <!--
                          <button class=" bg-yellow-500 text-xs text-white px-2 py-1 font-semibold tracking-widest rounded uppercase hover:bg-yellow-400 ml-5"><%= image_pack_tag 'cart1.png', size:"18x18" %></button> -->


                          
                        </div>
                  </div>
                </div>