          <!-- SECTION: Jumbotron -->
          <div class="jumbotron flex justify-between mt-12 shadow">
            <div class="content-start text-black text-4xl font-bold mt-8"></div>
          </div>
          <div class="test">

            <div class="flex flex-col items-center justify-between mx-auto p-8 md:flex-row lg:w-5/6 xl:3/4">

              <!-- SECTION: Jumbotron title + trianglify -->
              <div class="flex flex-col w-full md:w-1/2 px-0 md:px-16 justify-start items-center ">
                <div class="jumbotron-header mb-12 ">
                  <h1
                    class="text-5xl md:text-7xl lg:text-8xl font-semibold text-gray-800 lg:mr-10 jumbo-header sm:pb-8">
                    KittyPics</h1>
                </div>
                <svg class="sm:mt-12" width="120px" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512">
                  <title></title>
                  <path d="M8.57,156.87S24.12,95,55.06,140.7l29.07,55s5.84,35.78-23,44.6c0,0-50.93,5.11-61.12-47Z"
                    fill="#5b5b5f" />
                  <path
                    d="M241.8,226.63s18.07-61.16-31.83-37.56l-53,32.62s-23.2,27.84-2.84,50.13c0,0,41.27,30.24,76.56-9.48Z"
                    fill="#5b5b5f" />
                  <path
                    d="M78.37,107.58S90.33,36.4,134,52.91c0,0,17.69,14.69,11.22,70.65,0,0-11,42.59-33,46.41,0,0-30.83-3.84-34.7-26.95C77.51,143,73.67,122.25,78.37,107.58Z"
                    fill="#5b5b5f" />
                  <path
                    d="M214.41,143.55s25.85-67.34-20.15-75.37c0,0-22.69,3.69-45.6,55.16,0,0-12.2,42.22,4.87,56.78,0,0,28.5,12.32,43.57-5.58C197.1,174.53,211,158.57,214.41,143.55Z"
                    fill="#5b5b5f" />
                  <path
                    d="M44.6,98.21S48.06,82.75,57,81.16c0,0-4.19,18.13-.62,21.13a2.55,2.55,0,0,1-2.7,2.42S41.4,103.37,44.6,98.21Z"
                    fill="#5b5b5f" />
                  <path
                    d="M122.51,18.18s3.46-15.46,12.36-17c0,0-4.19,18.15-.62,21.12a2.56,2.56,0,0,1-2.7,2.42S119.29,23.35,122.51,18.18Z"
                    fill="#5b5b5f" />
                  <path
                    d="M252.13,160.63s4.87-15.06-2-21c0,0-5.63,17.78-10.2,18.54a2.54,2.54,0,0,0,1.11,3.45S252.27,166.71,252.13,160.63Z"
                    fill="#5b5b5f" />
                  <path
                    d="M208.32,40.48s4.89-15.06-2-21c0,0-5.62,17.77-10.2,18.51a2.57,2.57,0,0,0,1.11,3.47S208.48,46.57,208.32,40.48Z"
                    fill="#5b5b5f" />
                  <path
                    d="M27.91,280.54S32.8,282.3,87.46,233c0,0,35.32-33.47,50.9,13.9,0,0,23,58,27.72,64.87,0,0,11.63,32.06-21.53,45,0,0-36.59,4.23-39.21-27.07,0,0-29.26-2.81-31.23-6.82,0,0-49.84,31.64-57.71-21.35C16.39,301.51,18.66,286.19,27.91,280.54Z"
                    fill="#5b5b5f" />
                  <path
                    d="M509.05,332.42s-5.95-63.47-43.49-23l-37.1,50s-11.22,34.47,16,47.57c0,0,49.57,12.75,67.56-37.24Z"
                    fill="#5b5b5f" />
                  <path d="M268,366s-8.55-63.18,37.16-32.28L352.57,374s18.69,31.06-4.84,50c0,0-45.41,23.64-74.21-21Z"
                    fill="#5b5b5f" />
                  <path
                    d="M447.55,273.12s-1-72.14-46.71-62.5c0,0-19.71,11.87-21.83,68.12,0,0,4.35,43.76,25.61,50.91,0,0,31,.88,38.4-21.37C443,308.29,450,288.33,447.55,273.12Z"
                    fill="#5b5b5f" />
                  <path
                    d="M307.63,288s-15.31-70.5,31.37-71.42c0,0,21.88,7.09,36.7,61.44,0,0,5.63,43.57-13.44,55.36,0,0-30.07,7.87-42.24-12.13C320,321.27,308.74,303.39,307.63,288Z"
                    fill="#5b5b5f" />
                  <path
                    d="M482.36,269s-1.08-15.79-9.65-18.71c0,0,1.38,18.57-2.6,21a2.58,2.58,0,0,0,2.32,2.81S484.74,274.59,482.36,269Z"
                    fill="#5b5b5f" />
                  <path
                    d="M417.51,178.06s-1.08-15.79-9.65-18.72c0,0,1.38,18.55-2.57,21a2.58,2.58,0,0,0,2.3,2.83S419.89,183.67,417.51,178.06Z"
                    fill="#5b5b5f" />
                  <path
                    d="M267.71,299.17s-2.52-15.63,5.19-20.43c0,0,2.84,18.4,7.25,19.85a2.57,2.57,0,0,1-1.62,3.27S266.68,305.18,267.71,299.17Z"
                    fill="#5b5b5f" />
                  <path
                    d="M329.29,187.09s-2.54-15.67,5.14-20.46c0,0,2.87,18.43,7.28,19.85a2.58,2.58,0,0,1-1.62,3.26S328.23,193.05,329.29,187.09Z"
                    fill="#5b5b5f" />
                  <path
                    d="M471.16,451.76s-5.11,1-51.65-56c0,0-29.8-38.43-52.38,6,0,0-31.61,53.83-37.27,59.92,0,0-16.36,29.9,14.47,47.72,0,0,35.51,9.75,42.84-20.8,0,0,29.34,1.64,31.94-2,0,0,44.46,38.82,60.25-12.36C479.36,474.23,479.44,458.76,471.16,451.76Z"
                    fill="#5b5b5f" />
                </svg>
              </div>

              <!-- SECTION: 4 images -->
              <div class=" flex-wrap w-full hidden md:flex">
                <div class="flex p-1 w-full md:w-1/2 transform duration-200 ease-in hover:-translate-y-1">
                  <img class="rounded-md h-64 w-full object-center object-cover flex-shrink shadow"
                    src="https://alternativi.fr/uploads/articles//les-bienfaits-du-chat-sur-lhomme-e96.jpeg" alt="" />
                </div>
                <div class="flex p-1 w-full md:w-1/2  transform duration-200 ease-in hover:-translate-y-1">
                  <img class="rounded-md h-64 w-full object-center object-cover flex-shrink shadow"
                    src="https://cdn.pixabay.com/photo/2017/11/14/13/06/kitty-2948404_960_720.jpg" alt="" />
                </div>
                <div class="flex p-1 w-full md:w-1/2  transform duration-200 ease-in hover:-translate-y-1">
                  <img class="rounded-md h-64 w-full object-center object-cover flex-shrink shadow"
                    src="https://www.sciencesetavenir.fr/assets/img/2020/01/17/cover-r4x3w1000-5e21bf77a1547-chartreux-3298051-1920.jpg" />
                </div>
                <div class="flex p-1 w-full md:w-1/2  transform duration-200 ease-in hover:-translate-y-1">
                  <img class="rounded-md h-64 w-full object-center object-cover flex-shrink shadows"
                    src="https://cdn.shopify.com/s/files/1/0326/2057/6900/articles/bienfaits-du-chat-sur-les-humains2_1600x.jpg?v=1588095563"
                    alt="" />
                </div>
              </div>
            </div>
          </div>

          <!-- SECTION: filter -->
          <div class="flex flex-wrap flex-col items-center mb-20 lg:mb-0" >
          <button class="bg-yellow-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease">All</button>
            <div class="flex flex-wrap">
          <button class="bg-yellow-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease"><%= @categories[0].name%></button>
          
          <button class="bg-yellow-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease"><%= @categories[1].name%></button>
          
          <button class="bg-yellow-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease"><%= @categories[2].name%></button>
            </div>
            <div class="flex flex-wrap mt-2">
          <button class="bg-yellow-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease"><%= @categories[3].name%></button>
          
          <button class="bg-yellow-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease"><%= @categories[4].name%></button>
          
          <button class="bg-yellow-500 text-white active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease"><%= @categories[5].name%></button>
            </div>
          </div>
          <!-- SECTION: Cards -->

            <div class="flex flex-col items-center flex-wrap justify-between mx-auto p-8 md:flex-row lg:w-5/6 xl:3/4">
              <% @products.each do |product|%>
              <%= render "products/card", product: product %>
              <% end %>
            </div>

          </div>
          </div>
